.App {
  text-align: center;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  height: 10%;
}
.Body {
  display: flex;
  flex-direction: row;
}
.sidebar {
  width: 200px;
  padding: 17px 10px 0;
  background: green;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar_title {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  vertical-align: middle;
  height: 30px;
  align-items: right;
  text-align: right;
  float: right;
}

.sidebar_menu {
  list-style: none;
  padding-left: 0px;
}

.collapsed {
  width: 60px;
  background: green;
  align-items: center;
}

.content {
  width: 100%;
  padding: 0px 20px 10px;
  margin-right: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
